/*
* @Author: cixiu
* @Date:   2017-07-24 11:00:28
* @Last Modified by:   cixiu
* @Last Modified time: 2017-07-24 11:16:00
*/

.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}